{% extends 'template.html' %}
{% block title %}{% endblock %}
{% block main %}
    <div class="bbs">
			<a class="btn" href="#tiezi">发帖</a>
			<hr />

			<div class="tz">
				<div class="lf">
					<span>[置顶]</span>
					<span>[技术专题]</span>
					<a href="bbsdetail.html">三台县人民法院违反审判程序制造冤案</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>


			<div class="tz">
				<div class="lf">
					<span></span>
					<span>[群众呼声]</span>
					<a href=""> 南充高坪法院罗东妄法打人不犯法70多岁的老人正当自卫被拘留公道何在！天理何在！！</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>

			<div class="tz">
				<div class="lf">
					<span></span>
					<span>[群众呼声]</span>
					<a href=""> 南充高坪法院罗东妄法打人不犯法70多岁的老人正当自卫被拘留公道何在！天理何在！！</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>


			<div class="tz">
				<div class="lf">
					<span></span>
					<span>[群众呼声]</span>
					<a href=""> 南充高坪法院罗东妄法打人不犯法70多岁的老人正当自卫被拘留公道何在！天理何在！！</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>


			<div class="tz">
				<div class="lf">
					<span></span>
					<span>[群众呼声]</span>
					<a href=""> 南充高坪法院罗东妄法打人不犯法70多岁的老人正当自卫被拘留公道何在！天理何在！！</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>

			<div class="tz">
				<div class="lf">
					<span>[置顶]</span>
					<span>[技术专题]</span>
					<a href="">三台县人民法院违反审判程序制造冤案</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>

			<div class="tz">
				<div class="lf">
					<span></span>
					<span>[群众呼声]</span>
					<a href=""> 南充高坪法院罗东妄法打人不犯法70多岁的老人正当自卫被拘留公道何在！天理何在！！</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>

			<div class="tz">
				<div class="lf">
					<span>[置顶]</span>
					<span>[技术专题]</span>
					<a href="">三台县人民法院违反审判程序制造冤案</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>


			<div class="tz">
				<div class="lf">
					<span></span>
					<span>[群众呼声]</span>
					<a href=""> 南充高坪法院罗东妄法打人不犯法70多岁的老人正当自卫被拘留公道何在！天理何在！！</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>

			<div class="tz">
				<div class="lf">
					<span>[置顶]</span>
					<span>[技术专题]</span>
					<a href="">三台县人民法院违反审判程序制造冤案</a>
				</div>
				<div class="rf">
					<div>
						<span>zhangsan</span>
						<span>2017-05-23 11:23:44</span>
					</div>
					<div>
						<span>lisi</span>
						<span>2017-05-23 11:56:44</span>
					</div>
				</div>
			</div>




			<div class="panigation">
				<a><上一页</a>
				<a>1</a>
				<a>2</a>
				<a class="act">3</a>
				<a>4</a>
				<a>5</a>
				<a>下一页></a>
			</div>



			<a class="btn" href="#tiezi">发帖</a>
			<hr />

			<!-- 开始发帖-->
			<!-- 上传表单-->
			<div class="bbs_tz" id="tiezi">
				<p>快速发帖</p>
				<hr />
				<form action="" method="post">
					<span>
						<select>
							<option>技术专题</option>
							<option>闲聊专题</option>
						</select>
						<input type="text" class="upt" placeholder="请输入帖子标题"/>
					</span>
					<span>
						<textarea id="editer" style="width:625px;height:205px;"></textarea> <!-- class="area"-->
					</span>
					<span><a class="btn">发表帖子</a></span>
				</form>
			</div>

		</div>
{% endblock %}