<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/change_new" method="post">

        <p>
            <label>用户名</label>
            <input type="text" name="name1" value="{{ name1 }}">
        </p>
        <p>
            <label>密码</label>
            <input type="password" name="pwd" value="{{ pwd }}">
        </p>
        <p>
            <label>电话</label>
            <input type="number" name="tel" value="{{ tel }}">
        </p>
        <p>
            <input type="submit" value="确认修改">
        </p>
    </form>
</body>
</html>