{% extends 'template.html' %}
{% block title %}{% endblock %}
{% block page_tb%}
    <div class="page_tb">
		<table>
			<thead>
				<tr>
					<th>序号</th>
					<th>积分</th>
					<th>时间</th>
					<th>来源</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>20</td>
					<td>2017-05-08 12:23:23</td>
					<td>用户注册</td>
				</tr>
				<tr>
					<td>2</td>
					<td>8</td>
					<td>2017-01-08 15:21:32</td>
					<td>上传资源</td>
				</tr>
				<tr>
					<td>3</td>
					<td>1</td>
					<td>2017-01-08 15:21:32</td>
					<td>评论资源</td>
				</tr>
				<tr>
					<td>3</td>
					<td>-4</td>
					<td>2017-01-08 15:21:32</td>
					<td>下载资源</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2</td>
					<td>2017-01-08 15:21:32</td>
					<td>发表帖子</td>
				</tr>

			</tbody>
		</table>

		<div class="panigation">
			<a><上一页</a>
			<a>1</a>
			<a>2</a>
			<a class="act">3</a>
			<a>4</a>
			<a>5</a>
			<a>下一页></a>
		</div>
	</div>
{% endblock %}